.btn,
.btn:link,
.btn:visited{
    text-transform: uppercase;
    text-decoration: none;
    padding: 1.5rem 4rem;
    display: inline-block;
    border-radius: 10rem;
    transition: all .2s; /* This needs to be in the intial state because, it is a way of telling to intialse transform to all the properties */
    position: relative;
    border: none;
    cursor: pointer;
}

.btn--white{
    background-color: white;
    color: $color-grey-dark
}

.btn--green{
    background-color: $color-primary;
    color: white;
}

.btn:hover{
    transform:translateY(-0.3rem);
    box-shadow: 0 1rem 2rem rgba(0,0,0,.2); /* x, y, blur of the shadow, opacity */
}

.btn:active{
    transform:translateY(-1px);
    box-shadow: 0 .5rem 2rem rgba(0,0,0,.2);
}


.btn--white::after{
    background-color: #fff;
    color:$color-grey-dark;
}

.btn::after{
    content:'';
    display:inline-block;
    height: 100%;
    width:100%;
    border-radius: 10rem;
    position: absolute;
    top:0;
    left:0;
    z-index: -1;
    transition: all .4s;
}

.btn:hover::after{
    transform: scaleX(1.4) scaleY(1.5);
    opacity: 0;
}



.btn--animated{
    animation: moveInBottom .5s ease-out .75s;
    animation-fill-mode: backwards; /* to make the animation before the animation start */
}

.btn-text{
    &:link,
    &:visited{
        font-size: $default-font-size;
        color: $color-primary;
        display: inline-block;
        text-decoration: none;
        border-bottom: 1px solid $color-primary;
        padding: 3px;
        transition: all .5s;
    }

    &:hover{
        background-color: $color-primary;
        color: white;
        box-shadow: 0 1rem 2rem rgba($color: #000000, $alpha: .15);
        transform: translateY(-2px);
        border-radius: 5px;
    }

    &:active{
        box-shadow: 0 .5rem 1rem rgba($color: #000000, $alpha: .15);
        transform: translateY(0);
    }
}