.popup{
    height: 100vh;
    width: 100%;
    position: fixed;
    top:0;
    left: 0;
    background-color: rgba(black,.8);
    z-index: 3000;
    opacity: 0;
    visibility: hidden;
    transition: all .4s;


    &:target{
        opacity: 1;
        visibility: visible;
    }




    &__content{
        @include absCenter;
        width: 75%;
        background-color: white;
        height: 50rem;
        box-shadow: 0 2rem 4rem rgba(black,.2);
        border-radius: 3px;
        display: table;
        overflow: hidden;

    }

    &__left{
        width: 33.33333%;
        display: table-cell;
    }
    &__right{
        width: 66.66667%;
        display: table-cell;
        vertical-align: middle;
        padding:3rem 5rem;
    }
    &__text{
        font-size: 1.4rem;
        font-weight: 4rem;

        // these below ones needs pre fixes for moz. These should not be added by us manually, we could use AUTO PRE FIXER.
        column-count: 2;
        column-gap: 2rem; // default is 1.4em == 14px
        column-rule: 1px solid $color-grey-dark;
        hyphens: auto; // Note: make sure to check the lan in html doc.

    }

    &__close{
        &:link,
        &:visited{
            color: $color-grey-dark;
            position: absolute;
            top:2.5rem;
            right:2.5rem;
            font-size: 3rem;
            text-decoration: none;
        }
    }

    &__img{
        display: block;
        width: 100%;
    }
}